*{
  margin: 0;
  padding: 0;
}
ul{
  /* display: flex; */
  align-items: center !important ;
  border: none !important;
}
li{
  /* display: flex; */
  list-style: none !important;
  border: none !important;
  
}

li a{
  text-decoration: none;
  padding: 10px;
  border: none !important;
}

.hero_section {
   /* width: 1400px; */
   background-image: url(images/section_bg_img1.png);
   background-size: cover;
   background-repeat: repeat;
   height: 500px; 
   z-index: -1;
} 
footer {
  height: 200px;
 }
 
hr{
  width: 75%;
  height: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color:aliceblue;
  color: aliceblue !important;
} 